@import './Sass/config';

body{
  .start{
    width: 337px;
    height: 100vh;
    border: solid 1px black;
    margin: 0 auto;
    padding: 3rem 0;
    
    &__title{
      font-family: $ff-primary-1;
    }
  }
}
