*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@300;400;500;700;800&display=swap");
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat",
    "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// variables
//colors dark mode
$primary-dark-clr-1: #272636;
$primary-dark-clr-2: #1f1d2b;
$primary-dark-clr-3: #3a3a4c;
$primary-dark-clr-4: #6f6fc8;
$primary-dark-clr-5: #32a7e2;
$primary-dark-clr-6: #353444;
$primary-dark-clr-7: #575757;

// text colors dark mode
$primary-dark-txt-clr-1: #fff;
$primary-dark-txt-clr-2: #d3cece;

//--------------------------------------
//colors
$primary-clr-1: #fff;
$primary-clr-2: #6f6fc8;
$primary-clr-3: #febf47;
//text colors
$primary-txt-clr-1: #2d2c3c;
$primary-txt-clr-2: #767676;
$primary-txt-clr-3: #fff;
$primary-txt-clr-4: #4f4848;
$primary-txt-clr-5: #b8b5b5;
$primary-txt-clr-6: #827676;
// notes theme colors
$color-1: #ffbbc2;
$color-2: #e6f0fd;
$color-3: #d9d9d9;
$color-4: #ffe598;
$color-5: #ffe6d6;
$color-6: #b5f7bb;
$color-7: lightcoral;
//---------------------------------------
//fonts
$ff-primary-1: "Montserrat", sans-serif;
$ff-primary-2: "Montserrat Alternates", sans-serif;
//---------------------------------------

//mixins
@mixin centrlize {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin centrlize-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centrlize-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// animaiton
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
