*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@300;400;500;700;800&display=swap");
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat",
    "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// variables
//colors dark mode
$primary-dark-clr-1: #272636;
$primary-dark-clr-2: #1f1d2b;
$primary-dark-clr-3: #3a3a4c;
$primary-dark-clr-4: #6f6fc8;
$primary-dark-clr-5: #32a7e2;
$primary-dark-clr-6: #353444;
$primary-dark-clr-7: #575757;

// text colors dark mode
$primary-dark-txt-clr-1: #fff;
$primary-dark-txt-clr-2: #d3cece;

//--------------------------------------
//colors
$primary-clr-1: #fff;
$primary-clr-2: #6f6fc8;
$primary-clr-3: #febf47;
//text colors
$primary-txt-clr-1: #2d2c3c;
$primary-txt-clr-2: #767676;
$primary-txt-clr-3: #fff;
$primary-txt-clr-4: #4f4848;
$primary-txt-clr-5: #b8b5b5;
$primary-txt-clr-6: #827676;
$primary-txt-clr-7: #2b2626;
// notes theme colors
$color-1: #ffbbc2;
$color-2: #e6f0fd;
$color-3: #d9d9d9;
$color-4: #ffe598;
$color-5: #ffe6d6;
$color-6: #b5f7bb;
$color-7: lightcoral;
//---------------------------------------
//fonts
$ff-primary-1: "Montserrat", sans-serif;
$ff-primary-2: "Montserrat Alternates", sans-serif;
//---------------------------------------

//mixins
@mixin centrlize {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin centrlize-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centrlize-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin color-theme {
  .color {
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-50%);
        transition: all ease-in-out 0.2s;

        &.show {
          visibility: visible;
          opacity: 1;
          transform: translateX(0%);
        }
      }
      .default {
        border: solid 2px $primary-txt-clr-1;
        display: flex;
        align-items: center;
        justify-content: center;

        .line {
          height: 23px;
          width: 2px;
          background-color: $primary-txt-clr-1;
          position: absolute;
          transform: rotate(45deg);
        }
      }

      .color-1 {
        background-color: $color-1;
        transition-delay: 0.1s;
      }

      .color-2 {
        background-color: $color-2;
        transition-delay: 0.2s;
      }

      .color-3 {
        background-color: $color-3;
        transition-delay: 0.3s;
      }

      .color-4 {
        background-color: $color-4;
        transition-delay: 0.4s;
      }

      .color-5 {
        background-color: $color-5;
        transition-delay: 0.5s;
      }
      .color-6 {
        background-color: $color-6;
        transition-delay: 0.6s;
      }
      .color-7 {
        background-color: $color-7;
        transition-delay: 0.7s;
      }
}

// animaiton
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
