.editor{
    height: 100vh;
    width: 100%;

    &-nav{
        height: 80px;
        display: flex;
        padding: 0 20px;

        &.dark{
            color: $primary-dark-txt-clr-1;
        }
        
        .back-to-home{
            cursor: pointer;
            margin-right: auto;
            font: 700 1rem $ff-primary-1;
            width: 100px;
            height: 100%;
            display: flex;
            align-items: center;

            &__icon{
                font-size: 1.5rem;
                margin-right: .2rem;
                margin-top: .4rem;
            }
        }
        .more-container{
            width: 70px;
            font-weight: bold;
            @include centrlize-space-between;
            
            .share{
                color: $primary-txt-clr-6;
                font-size: 1.3rem;
                cursor: pointer;
            }
            .more{
                color: $primary-txt-clr-6;
                cursor: pointer;
                margin-top: .2rem;
                font-size: 1.5rem;
            }
        }
    }

    &-main{
        width: 72%;
        margin: 1rem auto;
        padding-top: 3rem;
        height: auto;
        padding-bottom: 5rem;

        .title{
            text-transform: capitalize;
            font: 700 1.5rem $ff-primary-2;
            margin-bottom: .3rem;

            &.dark{
                color: $primary-dark-txt-clr-1;
            }
        }
        .date{
            color: $primary-txt-clr-4;
            font-size: .8rem;

            &.dark{
                color: $primary-dark-txt-clr-2;
            }
        }
        .body{
            margin-top: 3rem;
            font: 500 .9rem $ff-primary-1;
            height: auto;

            textarea{
                color: $primary-txt-clr-4;
                width: 100%;
                min-height: 300px;
                font-family: $ff-primary-1;
                font-weight: 500;
                word-spacing: .1rem;
                line-height: 1.5rem;
                outline: none;
                border: none;
                resize: none;

                &::-webkit-scrollbar{
                    width: 0px;
                }


                &.dark{
                    background-color: $primary-dark-clr-2;
                    color: $primary-dark-txt-clr-2;
                }
            }

            &.dark{
                color: $primary-dark-txt-clr-2;
            }
        }
    }
    &-footer{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: $primary-clr-1;
        padding: 15px 10%;
        display: flex;
        color: $primary-txt-clr-4;
        font-size: 2rem;

        &.dark{
            color: $primary-dark-txt-clr-1;
            background-color: $primary-dark-clr-2;
        }
        .theme-btn{
            cursor: pointer;
        }

        .theme-container{
            width: 100%;
            display: flex;
            justify-content: space-around;

            .color{
                cursor: pointer;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: none;

                &.show{
                    display: block;
                }
            }
            .color-1{
                background-color: $color-1;
            }
            .color-2{
                background-color: $color-2;
            }
            .color-3{
                background-color: $color-3;
            }
            .color-4{
                background-color: $color-4;
            }
            .color-5{
                background-color: $color-5;
            }
        }
    }
}